@import "tailwindcss";

:root {
  --background: #0f172a;
  --foreground: #f8fafc;
  --card: #1e293b;
  --card-hover: #334155;
  --primary: #fefefe;
  --secondary: #8b5cf6;
  --border: rgba(255, 255, 255, 0.08);
}

html {
  scroll-behavior: smooth;
}

body {
  background:
    radial-gradient(circle at top left, #75bef1 0%, transparent 30%),
    radial-gradient(circle at top right, #581c87 0%, transparent 30%),
    #0f172a;

  color: var(--foreground);

  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;

  min-height: 100vh;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

button {
  cursor: pointer;
  transition: 0.3s;
}

img {
  transition: 0.4s ease;
}

img:hover {
  transform: scale(1.05);
}

.card {
  background: rgba(30, 41, 59, 0.7);
  backdrop-filter: blur(20px);

  border: 1px solid var(--border);

  border-radius: 20px;

  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);

  border-color: rgba(255, 255, 255, 0.5);

  box-shadow:
    0 20px 40px rgba(59, 130, 246, 0.15);
}

.hero-gradient {
  background:
    linear-gradient(
      135deg,
      #2563eb,
      #7c3aed
    );
}

.glass {
  background: rgba(255,255,255,0.05);

  backdrop-filter: blur(20px);

  border: 1px solid rgba(255,255,255,0.08);
}

.stat-card {
  background: linear-gradient(
    145deg,
    rgba(30,41,59,0.8),
    rgba(15,23,42,0.9)
  );

  border: 1px solid rgba(255,255,255,0.08);

  border-radius: 20px;

  transition: 0.3s;
}

.stat-card:hover {
  transform: translateY(-8px);

  box-shadow:
    0 20px 40px rgba(99,102,241,0.25);
}

.section-title {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 2rem;
}

.badge {
  padding: 8px 16px;

  border-radius: 999px;

  background: #5885ec;

  color: white;

  font-weight: 600;
}